.pessoas {
  display: flex;
  justify-content: space-around; /*como estava um abaixo do outro, com isso, ficou um ao lado do outro*/
  padding-top: 3rem;
}

@media screen and (min-width: 0) {
  .pessoas {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .pessoas {
    flex-direction: row;
  }
}

