.pessoa {
  display: flex;
  flex-direction: column; /*isso fez a quebra de linha dos span, ficando um abaixo do outro*/
}

@media screen and (min-width: 0) {
  .pessoa {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .pessoa {
    margin-bottom: 0;
  }
}