.banner__imagem {
  width: 100%;
  background: url(../../img/banner.jpg) no-repeat center / cover;
}

@media screen and (min-width: 0) {
  .banner__imagem {
    height: calc(100vh - 51px);
  }
}

@media screen and (min-width: 768px) {
  .banner__imagem {
    height: calc(100vh - 72px); /*72px refere-se ao tamanho do cabeçalho*/
  }
}

/*imagens meramente ilustritivas (ou seja, não são obrigatórias para dar contexto ao conteúdo da página) devem ser colocadas diretamente no css, e não no html*/